stagehand.pro.user
stagehand.pro.user*
moc_*
qrc_*
ui_*
*.o
.DS_Store
scripts/linux_build/linux32
scripts/linux_build/linux64
scripts/linux_build/output
Makefile
stagehand
stagehand.ini
*.backup
*.autosave
