stagehand.pro.user
stagehand.pro.user*
moc_*
qrc_*
ui_*
*.o
.DS_Store
scripts/linux_build/linux32
scripts/linux_build/linux64
scripts/linux_build/output
scripts/windows_build/win32
scripts/windows_build/output
stagehand
stagehand.ini
*.backup
*.autosave
